{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
Backup
{% endblock %}

{% block content %}

<h4>Backups</h4>

{% with backups as table %}
{% include "pagination.html" %}
{% endwith %}

<div class="row">
<table class="table table-condensed table-hover">
<thead>
    <tr>
        <th>Contestant</th>
        <th>Name</th>
        <th>File</th>
    </tr>
</thead>
<tbody>
    {% for row in backups.rows %}
    <tr>
        <td>{{ row.contestant_name }}</td>
        <td>{{ row.backup_name }}</td>
        <td>{{ row.backup_filename }} 
            <a href="{% url "download_group" "download" "Contestant" row.contestant_id "backup" row.backup_name row.backup_filename %}">{% bootstrap_icon "download" %}</a>

            <form class="one-button-form" action="{% url 'backup' page_info.contest.id %}" method="POST">
                <input type="hidden" name="cid" value="{{ row.contestant_id }}"/>
                <input type="hidden" name="id" value="{{ row.backup_name }}"/>
                <button type="submit" name="delete"> <span class="text-danger">{% bootstrap_icon "trash" %}</span></button>
            </form>
        </td>
    </tr>
    {% endfor %}
</tbody>

</table>
</div>

<h4>Backup a file</h4>

<div class="limit-width">
<form role="form" action="" method="POST" class="form" enctype="multipart/form-data">
{% bootstrap_form add_form %}
<button action="submit" name="submit">Submit</button>
</form>
</div>
{% endblock %}
