{% extends "templates/index.html" %}
{% load url from future %}

{% block content %}

<h2>Backup</h2>

<table class="results">
{{ backups.render_table }}
</table>

{{ backups.render_scrollbar }}

<form action="" method="post" enctype="multipart/form-data">
<table>
    {{ form.as_table }}
</table>
<input class="button" type="submit" value="Backup" name="backup"/>
{% if page_info.contest_is_admin %}
<!--<input class="button button_warn" type="submit" value="Clear all backups" name="clearall"/> -->
{% endif %}
</form>

{% endblock %}
