{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
Backup
{% endblock %}

{% block content %}

<h4>Backups</h4>

{% with backups as table %}
{% include "pagination.html" %}
{% endwith %}

<div class="row">
<table class="table table-condensed table-hover">
<thead>
    <tr>
        <th>Contestant</th>
        <th>Name</th>
        <th>File</th>
    </tr>
</thead>
<tbody>
    {% for row in backups.rows %}
    <tr>
        <td>{{ row.contestant_name }}</td>
        <td>{{ row.backup_name }}</td>
        <td>{{ row.backup_filename }}</td>
    </tr>
    {% endfor %}
</tbody>

</table>
</div>

<h4>Backup a file</h4>

<div class="limit-width">
<form role="form" action="" method="POST" class="form" enctype="multipart/form-data">
{% bootstrap_form add_form %}
<button action="submit" name="submit">Submit</button>
</form>
</div>
{% endblock %}
