{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}
{% load generic_table_sorter %}

{% block title %}
Users
{% endblock %}

{% block content %}

<h4>Contestants</h4>


<div class="containter-fluid">
<div class="col-md-9">
{% with contestants as table %}
{% include "pagination.html" %}
{% endwith %}
<table class="table table-condensed table-hover">
<thead>
    <tr>
        <th>{% generic_table_sorter contestants "name" %} Contestant</th>
        <th>Accepted</th>
        <th>Hidden</th>
        <th class="cell-narrow"></th>
    </tr>
</thead>
<tbody>
    {% for row in contestants.rows %}
    <tr>
        <td>
            <a href="" data-toggle="tooltip" data-placement="left" title="Edit contestant">{% bootstrap_icon "pencil" %}</a> 
            <form class="one-button-form" action="" method="POST">
            <button data-toggle="tooltip" data-placement="top" title="Delete contestant" class="btn btn-link btn-small" name="delete_{{row.id}}">
                        <span class="text-danger">{% bootstrap_icon "trash" %}</span>
            </button>
            </form>
            {{ row.name }}
        </td>
        <td>
            {% if row.accepted %}
                <span class="text-success">accepted</span>
                <form class="one-button-form" action="" method="POST">
                    <button data-toggle="tooltip" data-placement="top" title="Revoke acceptation" class="btn btn-link btn-small" name="revoke_{{row.id}}">
                        {% bootstrap_icon "remove" %}
                    </button>
                </form>
            {% else %}
                <span class="text-warning">pending</span>
                <form class="one-button-form" action="" method="POST">
                    <button data-toggle="tooltip" data-placement="top" title="Accept contestant" class="btn btn-link btn-small" name="accept_{{row.id}}">
                        {% bootstrap_icon "ok" %}
                    </button>
                </form>
            {% endif %}
        </td>
        <td>
            {% if not row.hidden %}
                <span class="text-success">visible</span>
                <form class="one-button-form" action="" method="POST">
                    <button data-toggle="tooltip" data-placement="top" title="Make contestant invisible" class="btn btn-link btn-small" name="hide_{{row.id}}">
                        {% bootstrap_icon "eye-close" %}
                    </button>
                </form>
            {% else %}
                <span class="text-warning">hidden</span>
                <form class="one-button-form" action="" method="POST">
                    <button data-toggle="tooltip" data-placement="top" title="Make contestant visible" class="btn btn-link btn-small" name="show_{{row.id}}">
                        {% bootstrap_icon "eye-open" %}
                    </button>
                </form>
            {% endif %}
        </td>
        <td class="cell-narrow">
            <input form="mass_actions" type="checkbox" name="select_{{row.id}}"/>
        </td>
    </tr>
    {% endfor %}
</tbody>

</table>
</div>

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
        Mass actions
        </div>
        <div class="panel-body">
        <form id="mass_actions" class="form form-horizontal" action="" method="POST">
            <div class="form-group form-group-sm">
                <button type="submit" class="btn btn-link btn-sm" name="accept_mass">{% bootstrap_icon "ok" %} Accept selected</button>
                <button type="submit" class="btn btn-link btn-sm" name="revoke_mass">{% bootstrap_icon "remove" %}Revoke selected</button>
                <button type="submit" class="btn btn-link btn-sm" name="hide_mass">{% bootstrap_icon "eye-close" %} Hide selected</button>
                <button type="submit" class="btn btn-link btn-sm" name="show_mass">{% bootstrap_icon "eye-open" %} Show selected</button>
                <button type="submit" class="btn btn-link btn-sm" name="delete_mass">{% bootstrap_icon "trash" %} Delete selected</button>
            </div>    
        </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
        Adding contestants
        </div>
        <div class="panel-body">
        <form class="form form-vertical" action="" method="POST">
            <label for="login_add">Quick add by login: </label>
            <div class="form-group form-group-sm">
                <input type="text" name="login_add"/>
                <button type="submit" class="btn btn-link btn-sm" name="add">Add user</button>
            </div>
        </form>
        </div>
    </div>

</div>




</div>
{% endblock %}
