{% extends "templates/index.html" %}

{% block content %}


<h2>FindCribs</h2>

{%if findcribs.showdiff %} <form action="{% url findcribs_diff page_info.contest.id %}" method="GET"> {% endif %}

<table class="resultsplus">
    {{ resultsplus.render_table|safe }}
</table>
<div class="button_bar">
{%if findcribs.showdiff %}  
    <input class="button" value="Compare" type="submit"/>
    </form>
    <a class="button" href="{{ findcribs.difflink }}">Hide diff</a>
{% else %}
    <a class="button" href="{{ findcribs.difflink }}">Compare submits</a>
{% endif %}
</div>
    {{ resultsplus.render_scrollbar|safe }}
    {{ resultsplus.render_filters|safe }}

{% endblock %}
