{% extends "templates/index.html" %}

{% block content %}


<h2>FindCribs</h2>

{%if findcribs.showdiff %} <form action="{% url results_diff page_info.contest.id %}" method="GET"> {% endif %}

<table class="results">
    {{ findcribs.render_table|safe }}
</table>
<div class="button_bar">
{%if findcribs.showdiff %}  
    <input class="button" value="Compare" type="submit"/>
    </form>
    <a class="button" href="{{ results.difflink }}">Hide diff</a>
{% else %}
    <a class="button" href="{{ results.difflink }}">Compare submits</a>
{% endif %}
</div>
    {{ findcribs.render_scrollbar|safe }}
    {{ findcribs.render_filters|safe }}

{% endblock %}
