{% extends "templates/index.html" %}
{% load url from future %}

{% block title %}
Cribs
{% endblock %}

{% block content %}

{% load switch %}

<h3>Submit {{submit.sid}}</h4>


<table class="results">
<tr>
    <th>#</th>
    <th>User</th>
    <th>Problem</th>
    <th>Time</th>
    <th>Status</th>
</tr>
<tr>
    <td>{{submit.submit.id}}</td>
    <td>{{submit.submit.contestant.name}}</td>
    <td>{{submit.submit.problem.code}}</td>
    <td>{{submit.submit.time|date:"Y-m-d, H:i:s"}}</td>

<td class={% switch submit.status %}
                {% case "QUE" %} "staQUE"
                {% case "ACC" %} "staACC"
                {% case "OK" %} "staOK"
                {% case "TLE" %} "staTLE"
                {% case "ANS" %} "staANS"
                {% case "RTE" %} "staRTE"
                {% case "MEM" %} "staMEM"
                {% case "REJ" %} "staREJ"
                {% case "CMP" %} "staCMP"
                {% else %} ""
           {% endswitch %}>

    {{submit.status}}</td>
</tr>


</table>

<h3>Checking report</h3>
{{report|safe}}

<h3>Override submit</h3>
<form action="" method="POST">
<table>
{{ form.as_table }}
</table>
<input class="button" type="submit" name="override" value="Override"/>
</form>


<h3>Code (<a href="{% url 'download_group' "download" "Submit" submit.submit.id "data" "content" filename %}">download</a>)</h3>
{% if code %}
{{code|safe}}
{% else %}
Cannot render this file, please download.
{% endif %}

{% endblock %}
