<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Satori Testing System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/files/structure.css" />
  <link rel="stylesheet" href="/files/style.css" />
  <link rel="stylesheet" href="/files/default.css" />
  <link rel="stylesheet" href="/files/pygments.css" />
  <link rel="stylesheet" href="/files/html4css1.css" />
  <link rel="stylesheet" href="/files/jquery.fileupload-ui.css" />
  <link rel="stylesheet" href="/files/smoothness/jquery-ui-1.8.10.custom.css" />
  <link rel="icon" href="/files/satori_favicon.png"/>

  <script src="/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="/files/jquery.min.js"></script>
  <script src="/files/jquery-ui.min.js"></script>
  <script src="/files/jquery.fileupload.js"></script>
  <script src="/files/jquery.fileupload-ui.js"></script>
  {% block header %}
  {% endblock %}
</head>
<body>
    <div id="cover">
        <div id="header">
            {% include "templates/header.html" %}
        </div>
        <div id="container">
            <div class="colmask threecol"> 
                <div class="colmid"> 
                    <div class="colleft"> 
                        <div class="col1"> 
                            <!-- Column 1 start - Main Column--> 
                            <div class="logos bDots">
                                <table>
                                <tr>
                                <td>
                                <img src="/files/kapital_ludzki.png" height="85px"></td><td><img src="/files/herb.png" height="85px"></td><td style="text-align: right;">
                                <img src="/files/ue_efs.png" height="85px"></td>
                                </tr>
                                <tr>
                                <td colspan="3" style="font-size: 80%; font-weight: bold; padding-top: 5px;">
                                Projekt dofinansowany przez Unię Europejską w ramach Europejskiego Funduszu Społecznego.
                                </td>
                                </tr>
                                </table>
                            </div>
                            <div id="content">
                                {% include "templates/status_bar.html" %}
                                {% block content %}
                                <!-- TODO(kalq): Add content -->
                                {% endblock %}
                            </div>
                            <!-- Column 1 end --> 
                        </div> 
                        <div class="col2 rDots"> 
                            <!-- Column 2 start --> 
                            <img src="/files/logoAlpha.png" alt="" height="40px">
                            {% include "templates/menu.html" %}
                            <!-- Column 2 end --> 
                        </div> 
                        <div class="col3"> 
                            <!-- Column 3 start --> 
                            <div class="logos">
                                <img src="/files/tcslogo.png">
                            </div>
                            <!-- Column 3 end --> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>
