{% extends "templates/index.html" %}

{% block content %}
{% if page_info.contest_is_admin %}
<a class="button" href="{% url contest_news_add page_info.contest.id %}">Add news</a>
<hr class="divide"/>
{% endif %}

{% if not page_info.contest and page_info.is_admin %}
<a class="button" href="{% url news_add %}">Add global news</a>
<hr class="divide"/>
{% endif %}


{% for msg in messages %}
<div class = "newsmsg bDots">
    <table class="message">
            <tr><td><h4>{{ msg.subpage.name }}</h4></td><td style="text-align: right"><span class="signature">{{msg.subpage.date_created|date:"Y-m-d, H:i:s"}}</span></td>
            <td>
            {% if msg.is_admin %}
            {% if page_info.contest %}
                {% if msg.subpage.contest %}
                <a class="button button_small" href="{% url contest_news_edit page_info.contest.id msg.subpage.id %}">Edit</a> 
                {% endif %}
            {% else %}
                <a class="button button_small" href="{% url news_edit msg.subpage.id %}">Edit</a>
            {% endif %}
            {% endif %}
            </td>
            
            </tr>
            <tr><td colspan="3">{{ msg.html|safe }}</td></tr>
    </table>

    {% if can_edit %}
    <h5>Attachments</h5>
    <table>
        {% for afile in attachments %}
        <tr><td>
            <a href="{% url download_group 'download' 'Subpage' subpage.id 'content_files' afile afile  %}">{{ afile }}</a>
        </td></tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
