{% extends "templates/index.html" %}
{% load url from future %}

{% block title %}
Add news
{% endblock %}

{% block content %}

{% if page_info.contest %}
<form action={% url 'contest_news_add' page_info.contest.id %} method="POST">
{% else %}
<form action={% url 'news_add' %} method="POST">
{% endif %}

{{ form.fid }}
<h3>Add news</h3>
<table class="wiki_form">
    {{ form.as_table }}
</table>
<div class="button_bar"><input class="button" type="submit" name="save" value="Save"/></div>
</form>

<hr class="divide"/>
{% include "templates/attachments_add.html" %}


{% endblock %}
