{% extends "templates/index.html" %}
{% load url from future %}

{% block title %}
Edit news
{% endblock %}

{% block content %}

{% if page_info.contest %}
<form action={% url 'contest_news_edit' page_info.contest.id message.id %} method="POST" id="edit_form">
{% else %}
<form action={% url 'news_edit' message.id %} method="POST" id="edit_form">
{% endif %}

{{ form.fid }}
<h3>Edit news</h3>
<table class="wiki_form">
    {{ form.as_table }}
</table>
<div class="button_bar">
<input class="button" type="submit" name="save" value="Save"/>
<input class="button button_warn" type="submit" name="delete" value="Delete"/>
</div>
</form>
<hr class="divide"/>
{% include "templates/attachments_edit.html" %}
{% endblock %}
