{% extends "templates/index.html" %}

{% block content %}
{% if page_info.contest_is_admin %}
<a href="{% url contest_news_add page_info.contest.id %}">Add news</a>
{% endif %}

{% if not page_info.contest and page_info.is_admin %}
<a href="{% url news_add %}">Add global news</a>
{% endif %}


{% for msg in messages %}
<div class = "newsmsg bDots">
    <table class="tlist">
            <tr><td><h4>{{ msg.subpage.name }}</h4></td><td style="text-align: right"><span class="signature">{{msg.subpage.date_created}}</span></td></tr>
            <tr><td colspan="2">{{ msg.html|safe }}</td></tr>
            {% if msg.is_admin %}
            {% if page_info.contest %}
                <tr><td><a href="{% url contest_news_edit page_info.contest.id msg.subpage.id %}">Edit</a> </td></tr>
            {% else %}
                <tr><td><a href="{% url news_edit msg.subpage.id %}">Edit</a> </td></tr>
            {% endif %}
            {% endif %}
    </table>
</div>
{% endfor %}

{% endblock %}