{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
Edit news
{% endblock %}

{% block content %}

<h3>Edit news</h3>

{% if page_info.contest %}
<form action={% url 'contest_news_edit' page_info.contest.id message.id %} method="POST" id="edit_form" class="form" role="form">
{% else %}
<form action={% url 'news_edit' message.id %} method="POST" id="edit_form" class="form" role="form">
{% endif %}

{{ form.fid }}

{% bootstrap_form form %}
{% buttons %}
<button class="btn btn-primary" type="submit" name="save">Save</button>
<button class="btn btn-danger" type="submit" name="delete">Delete</button>
{% endbuttons %}
</form>
<hr class="divide"/>
{% include "templates/attachments_edit.html" %}
{% endblock %}
