{% extends "templates/index.html" %}
{% load url from future %}

{% block title %}
Problem {{ problem.code }}: {{ problem.title }}
{% endblock %}

{% block content %}

<div class="buttton_bar">
{% if page_info.contest_is_admin %}
  <a class="button" href="{% url 'contest_problems_edit' page_info.contest.id problemid %}">Edit problem</a>
{% endif %}
{% if page_info.contestant %}
  <a class="button" href="{% url 'submit' page_info.contest.id %}?select={{problemid}}">Submit</a>
{% endif %}
</div>

{{content|safe}}

{% endblock %}
