{% extends "templates/index.html" %}

{% block header %}

{{ form.media }}

{% endblock %}

{% block content %}

<form action="{% url contest_problems page_info.contest.id %}" method="POST">

{% for group,problemlist in groups.iteritems %}

{% if group %}
<h5>{{ group }}:</h5>
{% endif %}

<table class="problems_table">
{% for pinfo in problemlist %}
{% with pinfo.problem as problem %}
<tr class="problem_row">

<td class="box">
{{pinfo.select}}
</td>

<td class="code">
 {{ problem.code }} 
</td>

<td class="title"> 
{% if problem.statement %}
<a class="problemtitle" href="{% url contest_problems_view page_info.contest.id problem.id %}">{{ problem.title }}</a><br/>
{% else %}
{{ problem.title }}
{% endif %}
</td>

<td class="has_pdf">
{% if pinfo.has_pdf %}
<a class="button" href={% url download_group "view" "ProblemMapping" pinfo.problem.id "statement_files" "_pdf" pinfo.problem.code|add:".pdf" %}>
PDF
</a>
{% endif %}
</td>


<td class="visible">
{% if pinfo.admin %}
{% if pinfo.visible %} Visible <br/>{% endif %}
{% if pinfo.submittable %} Submittable {% endif %}
{% endif %}
</td>


<td class="times"> 
{% if pinfo.admin %}
{% if pinfo.when_view %}

    {% if pinfo.when_view.start_on %}
    Appears on: {{ pinfo.when_view.start_on|date:"Y-m-d H:i:s" }}
    {% endif %}
<br/>    
    {% if pinfo.when_view.finish_on %}
    Hides on: {{ pinfo.when_view.finish_on|date:"Y-m-d H:i:s" }}
    {% endif %}
    
{% endif %}
{% endif %}
</td>

<td class="times"> 
{% if pinfo.admin %}
{% if pinfo.when_submit %}

    {% if pinfo.when_submit.start_on %}
    Submits start on: {{ pinfo.when_submit.start_on|date:"Y-m-d H:i:s" }}
    {% endif %}
<br/>    
    {% if pinfo.when_submit.finish_on %}
    Submits end on: {{ pinfo.when_submit.finish_on|date:"Y-m-d H:i:s" }}
    {% endif %}
    
{% endif %}
{% endif %}
</td>


<td class="edit">
{% if pinfo.admin %}
<a class="button button_small" href={% url contest_problems_edit page_info.contest.id problem.id %}>Edit problem</a>
{% endif %}
</td>

</tr>
{% if pinfo.description %}
<tr class="comment_row"/>
<td colspan="8" class="comment">
{{ pinfo.description|safe }}
</td>
</tr>
{% endif %}

{% endwith %}
{% endfor %}
</table>


{% endfor %}

{% if any_admin %}
<h4>Mass edit</h4>
{{form.submitstart.errors}}
{{form.submitfinish.errors}}
<p>Set submission times from {{form.submitstart}} to {{form.submitfinish}}
{{form.viewauto}} Set view times automatically
<input class="button" type="submit" name="changesubmit" value="Change submission times"/>
</p>

{{form.viewstart.errors}}
{{form.viewfinish.errors}}
<p>Set view times from {{form.viewstart}} to {{form.viewfinish}}
<input class="button" type="submit" name="changeview" value="Change publish times"/>
</p>
<div class="button_bar">
<input class="button" type="submit" name="revokesubmit" value="Stop submissions"/>
<input class="button" type="submit" name="revokeview" value="Hide problems"/>
</div>
</form>
{% endif %}

{% if page_info.contest_is_admin %}
<hr class="divide"/>
<div class="button_bar">
<a class="button" href="{% url contest_problems_add page_info.contest.id %}">Add new problem</a>
<a class="button" href="{% url contest_copyproblems page_info.contest.id %}">Copy from another contest</a>
</div>
{% endif %}
{% endblock %}