{% extends "templates/index.html" %}
{% load url from future %}

{% block title %}
Questions
{% endblock %}

{% block content %}

{% if page_info.contest_can_ask_questions %}
<a class="button" href="{% url 'ask_question' page_info.contest.id %}">Ask a question</a>
{% endif %}

<h3>Questions</h3>
{% for q,public in questions %}
{% if public %}
<div class="question_public">
{% else %}
<div class="question_private">
{% endif %}
<div class="question_header">
  {% if page_info.contest_is_admin %}
  Asked by: {{ q.inquirer.name }}<br/>
  {% endif %}
  {% if q.problem %}
    Problem {{ q.problem.code }}
  {% else %}
    General
  {% endif %}
</div>
<div class="question_content">
  {{ q.content }}
</div>

{% if q.answer %}
<div class="question_answer">
  {{ q.answer }}
</div>
{% endif %}

{% if page_info.contest_is_admin %}
<form action="{% url 'answer_question' page_info.contest.id q.id %}" method="POST">
<div class="button_bar">
{% if q.answer %}
<a class="button" href="{% url 'answer_question' page_info.contest.id q.id %}">Edit</a>
{% else %}
<a class="button" href="{% url 'answer_question' page_info.contest.id q.id %}">Answer</a>
{% endif %}
    <input type="submit" class="button button_warn" value="Delete" name="delete">
</div>
</form>
{% endif %}

</div>
{% endfor %}



{% endblock %}
