{% extends "templates/fullscreen.html" %}

{% block header %}
<link rel="stylesheet" href="{% url download_group "download" "Ranking" ranking.id "presentation" "stylesheet" "ranking.css" %}"/>
{% endblock %}

{% block content %}
{% comment %}
{% if page_info.contest_is_admin %}
<div class="buttonbar"><a class="button" href="?fullscreen=0">Back</a><a class="button" href="{% url ranking_rejudge page_info.contest.id ranking.id %}">Rejudge ranking</a></div>
{% endif %}
<h3>{{ ranking.name }}</h3>
{% endcomment %}
<div class="ranking">
{{ content|safe }}
</div>
{% endblock %}
