{% extends "templates/index.html" %}
{% load url from future %}

{% block title %}
{{ ranking.name }} - edit
{% endblock %}

{% block header %}
{{ form.media }}
{% endblock %}



{% block content %}
<h3>{{ranking.name}}
<h3>Problem {{problem.code}}: {{ problem.title }}</h3>

<form action="" method="POST">
<table>
{{ base_form.as_table }}
{{ form.as_table }}
</table>
<input class="button" name="submit" type="submit" value="Submit"/>
<input class="button button_warn" name="erase" type="submit" value="Erase specific parameters"/>
</form>

{% endblock %}
