{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
Select contest
{% endblock %}

{% block content %}

{{ alerts.render|safe }}

{% if participating.data %}
<h3>My contests:</h3>
<div>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
        </tr>    
    </thead>
    <tbody>
        {% for row in participating.data %}
        {% if participating.show_archived or not row.archived %}
        <tr>
            <td><a href="{% url "contest_main" row.id %}">{{row.name}}</a></td>
            <td>
                {{row.description}}
            </td>
            <td> <span class="
            {% if row.status == 'admin' %}text-primary{% endif %}
            {% if row.status == 'contestant' %}text-success{% endif %}
            {% if row.status == 'pending' %}text-warning{% endif %}
            ">
                {{row.status}}</span>
            {% if row.archived %}
                {% bootstrap_icon "briefcase" %}
            {% endif %}
                
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>

{% if participating.show_archived %}
    <p class="help-block">{% bootstrap_icon "briefcase" %} Archived contests displayed (<a href="{{ participating.archived_link }}">hide</a>).</p>
{% else %}
    <p class="help-block">Archived contests not displayed (<a href="{{ participating.archived_link }}">show</a>).</p>
{% endif %}
</div>

{% endif %}


{% if other.data %}

<h3>Other contests:</h3>
<div>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>    
    </thead>
    <tbody>
        {% for row in other.data %}
        {% if other.show_archived or not row.archived %}
        <tr>
            <td><a href="{% url "contest_main" row.id %}">{{row.name}}</a></td>
            <td>{{row.description}}</td>
            <td> 
                {% if row.status %}
                <a href="{% url "apply" row.id %}" class="btn btn-xs
                    {% if row.status == 'join' %}btn-success{% endif %}
                    {% if row.status == 'apply' %}btn-default{% endif %}
                    ">
                    {{row.status}}
                </a>
                {% endif %}
                {% if row.archived %}
                    {% bootstrap_icon "briefcase" %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
</div>

{% if other.show_archived %}
    <p class="help-block">{% bootstrap_icon "briefcase" %} Archived contests displayed (<a href="{{ other.archived_link }}">hide</a>).</p>
{% else %}
    <p class="help-block">Archived contests not displayed (<a href="{{ other.archived_link }}">show</a>).</p>
{% endif %}


{% endif %}



{% if create_form %}
<hr/>
<div class="panel panel-primary">
<div class="panel-heading">Add new contest</div>
<div class="panel-body">
    <form action="" method="POST" class="form form-inline">
    {% bootstrap_form create_form %}
    {% buttons %}
    <button class="btn btn-default" type="submit" name="addcontest">Create</button>
    {% endbuttons %}
    </form>
</div>
</div>
{% endif %}

{% endblock %}
