{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
{{ page_info.contest.name }} - submit

{% endblock %}

{% block content %}

<h3>Submit a solution</h3>

<div class="limit-width">

{%if noproblems %}

No problems to submit!

{%else%}

<form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-default">
            Submit
        </button>
    {% endbuttons %}
</form>

{% endif %}

</div>

{% endblock %}
