{% extends "templates/index.html" %}
{% load url from future %}

{% block header %}
{% endblock %}

{% block content %}

{% if page_info.contest %}
<form action={% url 'contest_subpage_add' page_info.contest.id %} method="POST">
{% else %}
<form action={% url 'subpage_add' %} method="POST">
{% endif %}

{{ form.fid }}
<input class="button wiki_button" type="submit" value="Save"/>
<h3>Add subpage</h3>
<table class="wiki_form">
    {{ form.as_table }}
</table>
</form>
{% include "templates/attachments_add.html" %}
{% endblock %}
