{% extends "templates/index.html" %}

{% block header %}
{% endblock %}

{% block content %}

{% if page_info.contest %}
<form action={% url contest_subpage_create page_info.contest.id %} method="POST">
{% else %}
<form action={% url subpage_create %} method="POST">
{% endif %}

<input name="fid" value="{{ fid }}" type="hidden">
<table class="subpage_form">
    <tr>
        <th><label for="id_name">Subpage name:</label></th>
        <td>{{ form.name }}</td>
        <td style="text-align: right">
            <input id="create_subpage" type="submit" value="Create subpage"/></td>
    </tr>
    <tr>
        <th><label for="id_content">Content:</label></th>
        <td colspan="2">{{ form.content }}</td>
    </tr>
    <tr>
        <th><label for="id_is_public">Show to all visitors:</label></th>
        <td>{{ form.is_public }}</td>
    </tr>
</table>
</form>
<h4>Attachments</h4>
<p>Click to select or drag-and-drop multiple files on the upload field:</p>
<form id="file_upload" action={% url contest_subpage_fileupload page_info.contest.id %} method="POST" enctype="multipart/form-data" class="file_upload">
    <input type="file" name="file" multiple>
    <input name="fid" value="{{ fid }}" type="hidden">
    <button>Upload</button>
    <div>Attachments</div>
</form>
<table id="files"></table>
<script src="/files/scripts/attachments_upload.js"></script>
<script>createFileUploadInstance('{{ fid }}', '{% url contest_subpage_fileremove page_info.contest.id %}');</script>
{% endblock %}
