{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
Users
{% endblock %}

{% block content %}


<table class="table table-hover">
<thead>
    <tr>
        <th>Login</th>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
    </tr>
</thead>
<tbody>
    {% for row in users.data %}
    <tr>
        <td>{{ row.login }}</td>
        <td>{{ row.firstname }}</td>
        <td>{{ row.lastname }}</td>
        <td>{{ row.email }}</td>
    </tr>
    {% endfor %}
</tbody>

</table>


{% endblock %}
