{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}
{% load generic_table_sorter %}

{% block title %}
Users
{% endblock %}

{% block content %}

<h4>Users</h4>

{% with users as table %}
{% include "pagination.html" %}
{% endwith %}

<table class="table table-condensed table-hover">
<thead>
    <tr>
        <th>{% generic_table_sorter users "login" %} Login</th>
        <th>{% generic_table_sorter users "firstname" %} First name</th>
        <th>{% generic_table_sorter users "lastname" %} Last name</th>
        <th>{% generic_table_sorter users "affiliation" %} Affiliation</th>
        <th>{% generic_table_sorter users "email" %} E-mail</th>
    </tr>
</thead>
<tbody>
    {% for row in users.rows %}
    <tr>
        <td><a href="{% url "profile" row.id %}"><span class="glyphicon glyphicon-edit"></span></a> {{ row.login }}</td>
        <td>{{ row.firstname }}</td>
        <td>{{ row.lastname }}</td>
        <td>{{ row.affiliation }}</td>
        <td>{{ row.email }}</td>
    </tr>
    {% endfor %}
</tbody>

</table>

{% with users as table %}
{% include "fields_filter.html" %}
{% endwith %}


{% endblock %}
