{% extends "templates/index.html" %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
Users
{% endblock %}

{% block content %}

<div class="row">
<table class="table table-hover">
<thead>
    <tr>
        <th>Login</th>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
    </tr>
</thead>
<tbody>
    {% for row in users.data %}
    <tr>
        <td>{{ row.login }}</td>
        <td>{{ row.firstname }}</td>
        <td>{{ row.lastname }}</td>
        <td>{{ row.email }}</td>
    </tr>
    {% endfor %}
</tbody>

</table>
</div>

<div class="row">

<div class="col-md-3">
<form action="" method="get" role="form">
  <div class="input-group">
    <input type="text" class="form-control" id="users_show" value="{{users.show}}">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Change</button>
    </span>
  </div>
</form>
</div>

<div class="col-md-3">
<ul class="pagination">
{% for page_link in users.autopagelinks %}
  {% if forloop.counter == users.page_shown %}
      <li class="active"><a href="{{page_link}}">{{ forloop.counter }}</a></li>
  {% else %}
      <li><a href="{{page_link}}">{{ forloop.counter }}</a></li>  
  {% endif %}
{% endfor %}
</ul>
</div>

</div>

{% endblock %}
