.staOK {
    background-color: #D9F7C2;
}

.staACC {
    background-color: #43791A;
}

.staRTE {
    background-color: #F8C3D2;
}

.staTLE {
    background-color: #F8C3D2;
}

.staANS {
    background-color: #F8C3D2;
}

.staMEM {
    background-color: #F8C3D2;
}

.staREJ {
    background-color: #A29D8C;
}

.staCME {
    background-color: #9D888E;
}

.staQUE {
    background-color: #FFF2C8;
}

