#logo-main
{
    margin-top : 5px;
    margin-bottom : 20px;
    margin-left : 5px;
    height : 40px;
}

#navigationPanel a {
    font-size : 120%;
    letter-spacing : 1px;
    color     : #434343;
    text-transform : uppercase;
}

.limit-width
{
    max-width : 400px;
}

#status_bar
{
    max-width : 50%;
    text-align : center;
}

#content
{
    margin-top : 10px;
    margin-left : 0;
    margin-right : 10px;
    margin-bottom : 0;
}

.pagination-no-margin
{
    margin-top : 0;
}

#data-column
{
}

.one-button-form
{
    display : inline;
}

.one-button-form button
{
    padding : 0;
    border : none;
    background-color : transparent;
}


.icon-space
{
    padding-left : 0.5em;
}

.panel-narrow
{
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 10px;
    padding-right : 10px;
}

pre.padded
{
    padding : 10px !important;
}

.cell-narrow
{
    width : 6em;
}