body {
    font-family: Arial;
	background: #FFFFFF;
    color: #444444;
}

.col1,
.col2,
.col3 {
}

.col2 {
    border-right: 1px dotted #DDDDDD;
}

.col1 {
    font-size: 90%;
}

#footer{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   border-top: 1px dotted #DDDDDD;
}

.toLeft {
    float: left;
}

.toRight {
    float: right;
}

/* Footer styles */

.margL {
    margin-left: 1em;
    margin-right: 1em;
}

.tableWidget {
    width: 100%;
    text-align: center;
    color: #000000;
}
/*                                  HEADER */
#header {
	clear: both;
	float: left;
    font-family: "Arial", Sans-Serif;
    background-image: url("gradient.png");
    background-repeat: repeat-x;
    background-color: #000000;
    background-position: left;
}

#header ul {
	list-style: none;
}

#header ul.headerLeftUl {
	float: left;
	font-size: 90%;
}

#header ul.headerRightUl {
	float: right;
	font-size: 90%;
}

#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}

#header ul li {
	display:block;
	margin:0 0 0 0px;
	position:relative;
	float: left;
	line-height:1.3em;
    text-align:center;
	color: #CCCCCC;
}

#header ul li a, #header ul li a:visited, #header ul li a:active {
    text-align:center;
	text-decoration:none;
	color: #CCCCCC;
}


#logo{
	border: 0;
	margin: 1em 0 0 0;
	width: 150px;
}

#navigationPanel {
	margin-top: 0;
	padding: 0;	
	text-transform: uppercase;
	letter-spacing: 1px;

	top: 0px;
}

#navigationPanel ul{
	list-style-type: none;
	padding: 0;
	margin-top: 1em;
	top: 0px;
}

#navigationPanel li {
	padding: 1em 0 0em 0em;
    text-align: left;
}

#navigationPanel a, #navigationPanel a:visited, #navigationPanel a:active{
	color: #444444;
	display: block;
	text-decoration: none;
	font-family: Arial, Sans-Serif;
}


.button
{
    font-size :  small;
    display : inline-block;
    color : black;
    padding : 0.3em 1em;
    text-decoration : none;
    background-color : #F0F0F0;
    border : solid 1px black;
    margin : 0;
}


.button:hover
{
    background-color : #E0E0E0;
}


.smallbutton
{
    font-size :  smaller;
    display : inline-block;
    color : black;
    padding : 0.1em 0.6em;
    text-decoration : none;
    background-color : #F0F0F0;
    border : solid 1px black;
    margin : 0;
}


.smallbutton:hover
{
    background-color : #E0E0E0;
}



.logos {
    text-align: center;
}

.logos td {
    text-align: center;
}


.question_public {
  margin-bottom : 10px;
  width : 100%;
}

.question_private {
  margin-bottom : 10px;
  width : 100%;
}

.question_public .question_header {
    font-style : italic;
    padding : 5px;
    background-color : #E0B0A0;    
}

.question_private .question_header {
    font-style : italic;
    padding : 5px;
    background-color : #E0E0E0;    
}



.question_content {
    padding : 5px 10px;
    font-weight : bold;
    background-color : #F0F0F0;
}

.question_answer {
    padding : 5px 50px;
    background-color : #E8E8E8;
}

.newsmsg {
    padding-bottom: 1em;
    margin-top: 1em;
}

.bDots {
    border-bottom: 1px dotted #DDDDDD;
}
.rDots {
    border-right: 1px dotted #DDDDDD;
}
.tDots {
    border-top: 1px dotted #DDDDDD;
}
.lDots { 
    border-left: 1px dotted #DDDDDD;
}


.staOK {
    background-color: #66EE66;
}

.staACC {
    background-color: #00AA00;
}

.staRTE {
    background-color: #EE9999;
}

.staTLE {
    background-color: #EE9999;
}

.staANS {
    background-color: #EE9999;
}

.staMEM {
    background-color: #EE9999;
}

.staREJ {
    background-color: #BB0000;
}

.staCME {
    background-color: #FF9933;
}

.staQUE {
    background-color :#FFFF00;
}


.okmsg {
  color : green;
}

.errormsg {
  color : red;
}


div.wheel
{
    width : 90%;
    margin : 1em;
    padding : 0.3em;
    background-color : #E8E8E8;
}

.wheelsel
{
    padding : 0.3em;
    color : black;
    background-color : #E0B0A0;    
    text-decoration : none;
    font-weight : bold;
    display : inline-block;
}

.wheelitem
{
    padding : 0.3em;
    color : black;
    text-decoration : none;
    font-weight : bold;
    display : inline-block;
}

td.formexplain {
    font-size : x-small;
    text-align : left;
}

span.signature {
  font-style : italic;
  font-size : smaller;
}

.subpage_form {
    width: 100%;
}

.subpage_form textarea {
    width: 100%;
}

.subpage_form th {
    white-space: nowrap;
    text-align: left;
}

.subpage_form td {
    width: 100%;
}

.news_form {
    width: 100%;
}

.news_form textarea {
    width: 100%;
}

.news_form th {
    white-space: nowrap;
    text-align: left;
}

.news_form td {
    width: 100%;
}


.error_msg {
    color: red;
}

.problems_table {
    width: 100%;
}

.problems_table th {
    text-align: left;
    padding: 5px;
}

.full_td {
    width: 100%;
}

.other_td {
    white-space: nowrap;
}

table.results
{
    width : 100%;
}

table.results tr:nth-child(2n+2)
{
    background-color : #F8F8F8;
}

table.results tr:nth-child(2n+1)
{
    background-color : #E8E8E8;
}

table.results th
{
    background-color : #C8C8C8;
}


table.contestants
{
    width : 100%;
    cellspacing : 0;
    cellpadding : 0;
    empty-cells : show;
    border-collapse : collapse;
}

table.contestants tr:nth-child(2n)
{
    background-color : #F8F8F8;
}

table.contestants tr:nth-child(2n+1)
{
    background-color : #E8E8E8;
}

table.contestants tr td
{
  margin : 1px;
  border : 1px 0px;
  border-color : white;
  padding : 2px;
}

table.contestants tr td.box
{
    width : 3em;
    text-align : center;
}


table.results th
{
    background-color : #C8C8C8;
}


table.message
{
    width : 100%;
}
