
{% if widget.editing %}
<h3>Answer a question</h3>
<div class="msgeditform">
<form action = "process.answerquestion" method = "post">
    <input type="hidden" name="id" value="{{widget.editing.id}}">
    <input type="hidden" name="contest_id" value="{{widget.contest.id}}">
    <input type="hidden" name="back_to" value="{{ widget.back_to }}">
    <p><strong>From: </strong>{{widget.editing.inquirer.name}}</p>
    {% if widget.editing.problem %}
    <p><strong>{{ widget.editing.problem.code }} </strong></p>
    {% else %}
    <p><strong>General</strong></p>
    {% endif %}
    <p>{{ widget.editing.content }}
    <p>Answer:</p>
    <textarea name="answer" rows="10" style="width: 100%">{{ widget.editing.answer }}</textarea>
    <input type="submit" class="button" name="publish" value="Make public" style="float: right">
    <input type="submit" class="button" name="add" value="Answer" style="float: right">
</form>
</div>
{% endif %}

<h3>All answers</h3>
{% for question in widget.questions %}
<div>
    <table class="messagebox">
        <tr class="privheader">
            <td><strong>From: </strong>{{question.q.inquirer.name}}</td>
            <td style="width: 6em; text-align: right;"><a class="stdlink" href=" {{ question.editlink }}">Answer</a></td>
        </tr>
        <tr class="privheader">
            {% if question.q.problem.code %}
            <td><strong>Problem {{ question.q.problem.code }} </strong></td>
            {% else %}
            <td><i>General</i></td>
            {% endif %}
            <td></td>
        </tr>
        <tr class="privcontent">
            <td>{{ question.q.content }} </td>
            <td></td>
        </tr>
{% if question.answer %}
        <tr class="privheader">
            <td><strong>Answer</strong></td>
            <td></td>
        </tr>
        <tr class="privanswer">
            <td>{{ question.answer|safe }} </td>
            <td></td>
        </tr>
{% endif %}
    </table>
</div>
{% endfor %}

