<h3>{{ widget.p.name }}</h3>
<form action="process.altertest" method="POST" enctype="multipart/form-data">
{% if widget.test %}
<h4>{{ widget.test.name }}</h4>
{{widget.test.description}}<br/>
{% else %}
New test name:
<input type="text" name="testname"/><br/>
Description
<input type="text" name="testdesc"/><br/>
{% endif %}
    Select default judge:
    <select name="judge" onChange="submit();">
        <option value="">None</option>
        {% for c in widget.judges %}
        <option value="{{c.value}}" {% if c.value == widget.judgehash %} selected="selected" {% endif %}>{{c.name}}</option>
        {% endfor %}
    </select>
    <br/>
    {{ widget.form.as_p }}
    <input type="hidden" name="id" value="{{widget.p.id}}"/>
    <input type="hidden" name="back_to" value="{{widget.back_to}}"/>
    <input type="hidden" name="back_path" value="{{widget.back_path}}"/>
    <input type="submit" name="valchange" value="Change"/>
</form>

