<h4>Edit test suite</h4>
<form action="process.altersuite" method="POST">
Name: <input type="text" name="name" value="{{widget.ts.name}}"/>
Description: <input type="text" name="description" value="{{widget.ts.description}}"/>
<br/>
Reporter:
<select name="reporter">
    {% for a in widget.all_reporters %}
    <option value="{{a}}" {% if a == widget.ts.reporter %} selected {% endif %} >{{a}}</option>
    {% endfor %}
</select>
<br/>
Accumulators:<br/>
    {% for a,checked in widget.accumulators %}
    <input type="checkbox" name="acc_{{a}}" {% if checked %}checked{% endif %}/>{{a}}<br/>
    {% endfor %}

<input type="hidden" name="id" value="{{widget.ts.id}}"/>
<input type="hidden" name="problem" value="{{widget.problem.id}}"/>
<table class="tlist">
    <tr><th>Name</th><th>Description</th><th>Assigned to problem</th></tr>
    {% for t,checked in widget.tests %}
    <tr>
    <th>{{t.name}}</th>
    <td>{{t.description}}</td>
    <td><input type="checkbox" name="test{{t.id}}" {% if checked %}checked{% endif %}/></td>
    </tr>
    {% endfor %}
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="back_path" value="{{widget.back_path}}"/>
<tr>
    <td></td><td></td><td><input type="submit" value="Alter test suite"/></td>
</tr>
</table>
</form>
