
<h2>Problem {{ widget.pm.code }}: {{widget.pm.title}}</h2>

Based on problem {{ widget.problem.name }}.

<form action="process.alterpm" method="POST" enctype="multipart/form-data">
<h4>Settings</h4>
Code:<input type="text" name="code" value="{{ widget.pm.code }}"/><br/>
Title:<input type="text" name="title" value="{{ widget.pm.title }}"/><br/>

<h4>Statement</h4>
<textarea name="statement" rows="15" cols="50">{{widget.statement}}</textarea>
<br/>

PDF statement:<input type="file" name="pdfstatement"/>
<br/>
<input type="submit" value="Confirm changes"/>
<input type="hidden" name="pm_id" value="{{widget.pm.id}}"/>
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="back_path" value="{{widget.back_path}}"/>
</form>


<h4>Tests</h4>

<form action="process.altersuite" method="POST">
<table>
<input type="hidden" name="pm_id" value="{{widget.pm.id}}"/>
{% for t,checked in widget.tests %}
<tr>
    <td>{{t.name}}</td>
    <td>{{t.description}}</td>
    <td><input type="checkbox" name="test{{t.id}}" {% if checked %}checked{% endif %}/></td>
</tr>
{% endfor %}
</table>
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="back_path" value="{{widget.back_path}}"/>
<input type="submit" value="Alter test suite"/>
</form>
