<h3>{{ widget.p.name }}</h3>

{% comment %}
<form action="process.set_default_td" method="POST" enctype="multipart/form-data">
    <p>Select default judge:
    <select name="default_judge" onChange="submit();" style="margin-left: 2em">
        <option value="">None</option>
        {% for c in widget.judges %}
        <option value="{{c.value}}" {% if c.value == widget.judgehash %} selected="selected" {% endif %}>{{c.name}}</option>
        {% endfor %}
    </select> <br/>
    This settings will be the default values for all mappings of this problem. You can always overwrite them in a given mapping.
    </p>
    {% if widget.judge %}
    <h4>Default test data</h4>
        <p>Provide default settings for this problem on <strong>{% for c in widget.judges %}{% if c.value == widget.judgehash%}{{c.name}}{%endif%}{%endfor%}</strong></p>
        <table class="tlist">
        {% for field in widget.judge %}
            <tr><td>{{ field.description }}:</td>
                <td>{% if field.type == "value" %}
                        <input type="text" name="value_{{field.name}}" value="{{field.cv}}"/>
                    {% else %}
                        <input type="file" name="file_{{field.name}}"/>                
                        {% if field.cv %}
                            <a href="getfile.defaulttestdata.{{widget.p.id}}.{{field.name}}">(file uploaded)</a>
                            <input type="checkbox" name="file_{{field.name}}_clear"/> Clear
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor%}
        <tr>
            <td></td>
            <td><input type="submit" name="valchange" value="Change"/></td>
        </tr>
    </table>
    {% endif %}
    <input type="hidden" name="id" value="{{widget.p.id}}"/>
    <input type="hidden" name="back_to" value="{{widget.back_to}}"/>
    <input type="hidden" name="back_path" value="{{widget.back_path}}"/>
</form>
{% endcomment %}

<h4>Suites</h4>
<table class="tlist">
{% for ts,link in widget.suites %}
<tr>
    <td>{{ts.name}}</td>
    <td>{{ts.description}}</td>
    <td><a href="{{link}}">(edit)</a></td>
</tr>
{% endfor %}
</table>

<h4>Tests</h4>
<p>Below there are given all tests that are connected to this problem. For given problem instance you can always
pick any subset of this tests as your test suite.</p>
<table class="tlist">
{% for t,link,attr in widget.tests %}
    <tr>
    <th>
        {{t.name}}
    </th>
    <td>
        {{t.description}}
    </td>
    <td>
        <a href="{{link}}">view/correct</a>
    </td>
    </tr>
    {% for a in attr %}
    <tr>
        <td>{{ a.name }}</td>
        {% if a.is_blob %}
            <td><a href="getfile.testdata.{{t.id}}.{{a.name}}">{{ a.filename }}</a></td>
        {% else %}
            <td>{{ a.value }}</td>
        {% endif %}
        <td></td>
    </tr>
    {% endfor %}
{% endfor %}
</table>
<p>If you would like to add new test please go here: <a href={{widget.addlink}}>Add new test</a>.</p>
