<h3>Add or edit ranking</h3>

<div class="msgeditform">
<form action = "process.editranking" method = "post">
    <input type="hidden" name="id" value="{{widget.editing.id}}">
    <input type="hidden" name="contest_id" value="{{widget.contest.id}}">
    <input type="hidden" name="back_to" value="{{ widget.back_to }}">
    <p>Name:</p>
    <input type="text" name="name" value="{{ widget.editing.name }}" style="width: 100%">
    <p>Aggregator:</p>
    <select name="aggregator">
        {% for a in widget.aggregators %}
        <option value="{{a}}" {% if a == widget.editing.aggregator %} selected {% endif %}>{{a}}</option>
        {% endfor %}
    </select>
{% comment %}    
    <select name="visibility">
        
    </select>
    <p>Header:</p>
    <textarea name="header" rows="10" style="width: 100%">{{ widget.editing.header}}</textarea>

    <p>Footer:</p>
    <textarea name="footer" rows="10" style="width: 100%">{{ widget.editing.footer }}</textarea>
{% endcomment %}
    {% if widget.editing %}
    <input type="submit" class="button" name="edit" value="Save">
    <input type="submit" class="button" name="cancel" value="Cancel">
    {% else %}
    <input type="submit" class="button" name="add" value="Add ranking" style="float: right">
    {% endif %}
</form>
</div>

