<div id="header">
    {% with widget.header as widget %}
    {% include widget.htmlFile %}
    {% endwith %}
</div>
<div id="container">
    <div class="colmask threecol"> 
        <div class="colmid"> 
            <div class="colleft"> 
                <div class="col1"> 
                    <!-- Column 1 start - Main Column--> 
                    <div class="logos bDots">
                        <table>
                        <tr>
                        <td>
                        <img src="files/kapital_ludzki.jpg" height="85px"/></td><td><img src="files/herb.png" height="85px"/></td><td style="text-align: right;">
                        <img src="files/ue_efs.gif" height="85px"/></td>
                        </tr>
                        <tr>
                        <td colspan="3" style="font-size: 80%; font-weight: bold; padding-top: 5px;">
                        Projekt dofinansowany przez Unię Europejską w ramach Europejskiego Funduszu Społecznego.
                        </td>
                        </tr>
                        </table>
                    </div>
                    <div id="content">
                        {% with widget.content as widget %}
                        {% include widget.htmlFile %}
                        {% endwith %}
                    </div>
                    <!-- Column 1 end --> 
                </div> 
                <div class="col2 rDots"> 
                    <!-- Column 2 start --> 
                    <img src="files/logoAlpha.png" alt="" height="40px"/>
                    {% with widget.menu as widget %}
                    {% include widget.htmlFile %}
                    {% endwith %}
                    <!-- Column 2 end --> 
                </div> 
                <div class="col3"> 
                    <!-- Column 3 start --> 
                    <div class="logos">
                        <img src="files/tcslogo.png"></img>
                    </div>
                    <!-- Column 3 end --> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>
<div id="footer">
            Debug:
        <ul>
            {% for key, v in widget.params.items %}
            <li> {{ key }}: {{v}} </li>
            {% endfor %}
        </ul>

</div>  

