<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Satori Testing System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/files/style.css" />
</head>


<body>

	<div id="header">
	{% include "htmls/banner.html" %}
	</div>
	
	<div id="middle">
	
		<div id="leftmenu">
			
			{% with widget.loginform as widget %}
			{% include widget.htmlFile %}
			{% endwith %}

			{% with widget.menu as widget %}
			{% include widget.htmlFile %}
			{% endwith %}
		</div>
		
		<div id="content">
			{% with widget.content as widget %}
			{% include widget.htmlFile %}
			{% endwith %}
		</div>
	</div>
	<div id="footer">
				Debug:
			<ul>
				{% for key, v in widget.params.items %}
		  		<li> {{ key }}: {{v}} </li>
				{% endfor %}
			</ul>

	</div>	
</body>
</html>


