{% if widget.status == "activated" %}
    <p>Account activated. You may now login.</p>
{% endif %}
{% if widget.status == "activation_failed" %}
    <p>Activation key not accepted!</p>
{% endif %}
{% if widget.status == "waiting" %}
    <p>Activation email has been sent. Please follow the provided link to activate your account.</p>
{% endif %}

﻿<span class='message'>Logged in as <span class='messageemph'>{{widget.name}}</span>.</span>
<span class='message'><a class='stdlink' href='process.logout'>Sign out</a></span>


