{% if widget.status == "failed" %}
    <p>Please try again.</p>
{% endif %}
{% if widget.status == "waiting" %}
    <p>Activation email has been sent. Please follow the provided link to activate your account.</p>
{% endif %}
{% if widget.status == "activated" %}
    <p>Account activated. You may now login.</p>
{% endif %}
{% if widget.status == "activation_failed" %}
    <p>Activation key not accepted!</p>
{% endif %}

<p>Please fill in the form to login.</p>

<form method="post" action="process.login">
    <table style="margin: auto; text-align: center">
        <tr><td><span class="message">Login:</span><input type="text" class="smallinputbox" name="username"/></td></tr>
        <tr><td><span class="message">Pass:</span> <input type="password" class="smallinputbox" name="password"/></td></tr>
        <tr><td><input type="submit" value="Sign in" class="button"/></td></tr>
    </table>
    <input type="hidden" name="back_to" value="{{widget.back_to}}"/>
    <input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
    <input type="hidden" name="path" value="{{widget.path}}"/>
</form>

<!--
<form method="post" action="process.exid_start">
<input type="hidden" name="handler" value="openid"/>
<div class="messagecenter">
<span class="message">OpenId:</span><input type="text" class="smallinputbox" name="provider"/>
</div>
<div class="messagecenter">
    <input type="submit" value="Sign in" class="button"/>
</div>

<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
<input type="hidden" name="path" value="{{widget.path}}"/>
</form>
-->

<form method="post" action="process.exid_start" >
    <p>You can also use <strong>Google Account</strong> as an alternative way to enter.
    <input type="submit" value="Sign in with Google" class="button" style="margin-left: 2em"/>

    <input type="hidden" name="handler" value="openid"/>
    <input type="hidden" name="provider" value="https://www.google.com/accounts/o8/id"/>
    <input type="hidden" name="back_to" value="{{widget.back_to}}"/>
    <input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
    <input type="hidden" name="path" value="{{widget.path}}"/>
    </p>
</form>

<form method="post" action="process.exid_start" >
    <p>You can also use <strong>UJ Account</strong> as an alternative way to enter.
    <input type="submit" value="Sign in with UJ" class="button" style="margin-left: 2em"/>

    <input type="hidden" name="handler" value="cas"/>
    <input type="hidden" name="provider" value="https://login.uj.edu.pl/"/>
    <input type="hidden" name="back_to" value="{{widget.back_to}}"/>
    <input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
    <input type="hidden" name="path" value="{{widget.path}}"/>
    </p>
</form>

<h3>New to Satori?</h3> 
<p>Please go first to the registration site and then come back here.</p>
