<h3>Rankings</h3>

{% for a in widget.aggregators %}

{{a}}<br/>

{% endfor %}
<h3>Subpages</h3>

<table>
{% for s,editlink in widget.subpages %}
<tr>
<td>{{s.name}}</td>
<td><a href={{ editlink }}>Edit</a></td>
</tr>
{% endfor %}
</table>
<a href="{{widget.addlink}}">Create new subpage</a>

<h3>Global rights</h3>
<form action="process.contestrights" method="POST">
    <input type="hidden" name="contest_id" value="{{ widget.contest.id }}"/>
    <input type="hidden" name="back_to" value="{{ widget.back_to }}"/>
    <input type="hidden" name="back_path" value="{{ widget.path }}"/>
    <table>
        <tr><td>Non-authenticated users may view:</td><td>
            <input type="checkbox" name="anonymous_view" {% if widget.anonymous_view %} checked {% endif %}/>
            </td></tr>
        <tr><td>Registered users may join:</td><td>
            <select name="joining_by">
                {% for optionno,optionname,selected in widget.joining_options %}
                    <option value="{{optionno}}" {% if selected %} selected {% endif %}>{{ optionname }}</option>
                {% endfor %}
            </select></td></tr>
        <tr><td>Allow questions for:</td><td>
            <select name="questions_for">
                {% for optionno,optionname,selected in widget.question_options %}
                    <option value="{{optionno}}" {% if selected %} selected {% endif %}>{{ optionname }}</option>
                {% endfor %}
            </select></td></tr>
        <tr><td></td><td><input type="submit" value="Set global rights"/></td></tr>
    </table>
</form>

