<h3>Create news</h3>

<p>Create new message that will be added to <strong>
{% if widget.contest %} {{widget.contest.name}} {% else %} Global {% endif %}
</strong> board:</p>
<div class="msgeditform">
<form action = "process.editmsg" method = "post">
    <input type="hidden" name="msgid" value="{{widget.msgid}}">
    <input type="hidden" name="contest_id" value="{{widget.contest.id}}">
    <input type="hidden" name="back_to" value="{{ widget.back_to }}">
    <p>Topic:</p>
    <input type="text" name="msgtopic" value="{{ widget.msgtopic }}" style="width: 100%">
    <p>Content:</p>
    <textarea name="msgcontent" rows="10" style="width: 100%">{{ widget.msgcontent }}</textarea>
    {% if not widget.editing %}
        {% if widget.contest %}
        <input type="radio" name="msgtype" value="contest_only" checked>This contest only</input>
        {% endif %}
        {% if widget.canglobal %}
        <input type="radio" name="msgtype" value="mainscreen_only"{% if not widget.contest %} checked {% endif %}>Main screen only</input>
        <input type="radio" name="msgtype" value="global">Always visible</input>
        {% endif %}    
    {% endif %}
    {% if widget.editing %}
    <input type="submit" class="button" name="edit" value="Save">
    <input type="submit" class="button" name="delete" value="Delete">
    <input type="submit" class="button" name="cancel" value="Cancel">
    {% else %}
    <input type="submit" class="button" name="add" value="Add news" style="float: right">
    {% endif %}
</form>
</div>
<h3>Manage News</h3>
<p>Already created messages:</p>
{% for msg in widget.messages %}
<div class = "newsmsg bDots">
    <table class="tlist">
        <tr>
            <td><strong>{{forloop.counter}}.</strong> {{ msg.topic }} </td>
            <td style="width: 6em; text-align: right;"><a class="stdlink" href=" {{ msg.editlink }}"> Edit/delete</a></td>
        </tr>
        <tr>
            <td>{{ msg.content|escape|truncatewords:30 }} </td>
            <td></td>
        </tr>
    </table>
</span>
</div>
{% endfor %}

