<h4>Accepted users</h4>
<p>The list of all accepted users of this contest:</p>
<table class="tlist">
<tr><th>No.</th><th>Login</th><th>Full name</th><th>&nbsp</th></tr>
{% for q in widget.accepted %}
<tr>
    <th>{{forloop.counter}}.</th>
    <td>
    {% for u in q.members %}
        {{u.login}} <br/>
    {% endfor %}
    </td>
    <td>
    {% for u in q.members %}
        {{u.name}} <br/>
    {% endfor %}
    </td>
    <td>
        {{q.admin}}
    </td>
</tr>
{% endfor %}
</table>

<h4>Pending users</h4>
<p>The list of pending users of this contest:</p>
<table class="tlist">
<tr><th>No.</th><th>Login</th><th>Full name</th><th>&nbsp</th></tr>
{% for q in widget.pending %}
<tr>
    <th>{{forloop.counter}}.</th>
    <td>
    {{ q.c.name }}
    </td>
    <td>
    {{ q.c.usernames }}
    </td>
    <td>
        <form action="process.accept" method="post">
            <input type="hidden" name="conuser_id" value="{{ q.c.id }}"/>
            <input type="hidden" name="back_to" value="{{ widget.back_to }}"/>
            <input type="hidden" name="back_path" value="{{ widget.path }}"/>
            <input type="submit" value="Accept" class="button"/>
        </form>   
    </td>
</tr>
{% endfor %}
</table>

<h4>Add user</h4>
        <form action="process.addcontestant" method="post">
            Username:
            <input type="text" name="login"/>
            <br/>
            Add user as 
            <select name="addrole">
                <option value="contestant">Contestant</option>
                <option value="admin">Admin</option>
            </select>
            <input type="hidden" name="cid" value="{{ widget.contest.id }}"/>
            <input type="hidden" name="back_to" value="{{ widget.back_to }}"/>
            <input type="hidden" name="back_path" value="{{ widget.path }}"/>
            <input type="submit" value="Add" class="button"/>
        </form>  
