{% if widget.manage %}
<form action="process.pubtime" method="POST">
{% endif %}
<h4>Problems</h4>
<table class="list_table">
<tr class="header">
    <td>Code</td>
    <td>Title</td>
{% if widget.manage %}
    <td>
        Publish from
    </td>
    <td>
        Submit till
    </td>
    <td>
    </td>
    <td>
    </td>
{% endif %}
</tr>
{% for p,editlink,sdate,fdate in widget.problems %}
<tr>
    <td>{{p.code}} </td>
    <td>{{p.title}}</td>
{% if widget.manage %}
    <td>
        {{sdate}}
    </td>
    <td>
        {{fdate}}
    </td>
    <td>
        <input type="checkbox" value="pr{{p.id}}"/>
    </td>
    <td>
        <a href="{{ editlink }}">Edit</a> 
    </td>
{% endif %}
</tr>
{% endfor %}
</table>
{% if widget.manage %}

With selected: <br/>
<input type="submit" name="publish" value="Publish"/><br/>
<input type="submit" name="hide" value="Hide"/>


</form>
{% endif %}


{% if widget.manage %}
<h4>Add problem from repository</h4>
<form action="process.createpm" method="POST"/>
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="back_path" value="{{widget.back_path}}"/>
<input type="hidden" name="contest" value="{{widget.contest.id}}"/>
Code:
<input type="text" name="code"/><br/>
Title: 
<input type="text" name="title"/><br/>
Problem:
<select name="problem">
{% for p in widget.potential %}
    <option value="{{ p.id }}"/> {{ p.name }} ({{p.description}})</option>
{% endfor %}
</select>
<br/>
<input type="submit" value="Use problem"/>
</form>
{% endif %}