{% if widget.manage %}
<form action="process.publish" method="POST">
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="back_path" value="{{widget.back_path}}"/>

{% endif %}
<h4>Problems</h4>

<table class="tlist">
<tr>
    {% if widget.manage %}
    <th>
    </th>
    {% endif %}
    <th>Code</th>
    <th>Title</th>
    <th>PDF</th>
{% if widget.manage %}
    <th>
        Visible
    </th>
    <th>
        Start
    </th>
    <th>
        Finish
    </th>
    <th>
    </th>
{% endif %}
</tr>
{% for entry in widget.problems %}
<tr>
    {% if widget.manage %}
    <td>
        <input type="checkbox" name="pr{{entry.p.id}}"/>
    </td>
    {% endif %}
    <td>{{entry.p.code}} </td>
    <td>
        {% if entry.showlink %}
        <a href="{{ entry.showlink }}">
            {{entry.p.title}}
        </a>
        {% else %}
            {{entry.p.title}}
        {% endif %}
    </td>
    <td>
        {% if entry.pdf %}
            <a href="getfile.pdfstatement.{{entry.p.id}}">pdf</a>
        {% endif %}
    </td>
{% if widget.manage %}
    <td>
        {{entry.visible}}
    </td>
    <td>
        {{entry.from}}
    </td>
    <td>
        {{entry.until}}
    </td>
    <td>
        <a href="{{ entry.editlink }}">Edit</a> 
    </td>
{% endif %}
</tr>
{% endfor %}
</table>
{% if widget.manage %}

<h4>Change selected:</h4>
<p>Mark problems that you want to modify.</p>
<p>Set submit times:</p>
<table>
    <tr>
        <td>from </td><td><input type="text" name="pub_date"/></td><td>(DD-MM-YYYY HH:MM:SS, leave blank to publish now)</td>
    </tr>
    <tr>
        <td>until </td><td><input type="text" name="hide_date"/></td><td>(DD-MM-YYYY HH:MM:SS, leave blank to publish indefinitely)</td>
    </tr>
    <tr>
        <td></td><td></td><td><input type="submit" name="confirm" value="Set dates"/></td>
    </tr>
</table>
<table>
    <tr><td>To stop submissions for selected problems press:</td><td><input type="submit" name="stop" value="Immediately stop submissions"/></td></tr>
    <tr><td>To hide selected problems press:</td><td> <input type="submit" name="hide" value="Immediately hide selected problems"/></td></tr>
</table>
</form>
{% endif %}

{% if widget.manage %}
<h4>Add problem from repository</h4>
<form action="process.createpm" method="POST"/>
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="back_path" value="{{widget.back_path}}"/>
<input type="hidden" name="contest" value="{{widget.contest.id}}"/>
<p>To add new problem for this contest please fill the information below:</p>
<table>
    <tr><td>Code:</td><td><input type="text" name="code"/></td></tr>
    <tr><td>Title:</td><td><input type="text" name="title"/></td></tr>
    <tr><td>Problem:</td><td><select name="problem">
        {% for p in widget.potential %}
        <option value="{{ p.id }}"/> {{ p.name }} ({{p.description}})</option>
        {% endfor %}
        </select>
        </td></tr>
    <tr><td></td><td><input type="submit" value="Use problem"/></td></tr>
</table>
</form>
{% endif %}
