{% if widget.status == "badlogin" %}
<p class="errormsg">Login is invalid.</p>
{% endif %}
{% if widget.status == "badpass" %}
<p class="errormsg">Password is invalid.</p>
{% endif %}
{% if widget.status == "nomatch" %}
<p class="errormsg">Passwords do not match.</p>
{% endif %}
{% if widget.status == "bademail" %}
<p class="errormsg">E-mail is invalid.</p>
{% endif %}
{% if widget.status == "captchafail" %}
<p class="errormsg">CAPTCHA answer invalid.</p>
{% endif %}
{% if widget.status == "regfail" %}
<p class="errormsg">Registration unsuccessful.</p>
{% endif %}

<p>Fill in the form to register to Satori.</p>

<form method="post" action="process.register">
    <table style="margin: auto">
        <tr><td rowspan="5">{{ widget.captchahtml|safe }}</td><td>Login:</td><td><input tabindex="1" type="text" class="smallinputbox" name="login"/></td><td class="formexplain">(5 - 23 alphanumeric, starting with a letter)</td></tr>
        <tr><td>Firstname:</td><td> <input type="text" tabindex="2" class="smallinputbox" name="firstname"/></td><td class="formexplain"></td></tr>        
        <tr><td>Lastname:</td><td> <input type="text" tabindex="2" class="smallinputbox" name="lastname"/></td><td class="formexplain"></td></tr>        
        <tr><td>E-mail:</td><td> <input type="text" tabindex="3" class="smallinputbox" name="email"/></td><td class="formexplain">(valid, please)</td></tr>        
        <tr><td>Pass:</td><td><input type="password" tabindex="4" class="smallinputbox" name="password"/></td><td class="formexplain">(at least 5 chars)</td></tr>
        <tr><td>Confirm pass:</td><td><input type="password" tabindex="5" class="smallinputbox" name="confirm"/></td><td class="formexplain"></td></tr>
        <tr><td style="text-align: center"><input type="submit" value="Register" class="button"/></td>
        <td>Affiliation:</td><td><select name="affiliation">
            <option value="Uniwersytet Jagielloński">Uniwersytet Jagielloński</option>
            <option value="V LO Kraków">V LO Kraków</option>
        </select></td>
        <td class="formexplain"></td></tr>
    </table>

<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
<input type="hidden" name="path" value="{{widget.path}}"/>
</form>

<!--
<h3>Register with Google</h3>
<p>We can associate your Google Account with your Satori profile. All the necessary data will be taken from Google so that the only thing you have to do is to choose your login:</p>
<form method="post" action="process.openid_register">
    <table style="margin: auto">
        <tr><td>Login:</td><td><input type="text" class="smallinputbox" name="username"/></td></tr>
        <tr><td colspan="2" style="text-align: center"><input type="submit" value="Register with Google" class="button"/></td></tr>
      </table>

<input type="hidden" name="openid" value="https://www.google.com/accounts/o8/id"/>
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
<input type="hidden" name="path" value="{{widget.path}}"/>
</form>
-->

<!--
<p>Fill in the form to register to Satori. You can also use your Google Account to register (in that case go to the second section).</p>

<form method="post" action="process.register">
    <table style="margin: auto">
        <tr><td>Login:</td><td><input tabindex="1" type="text" class="smallinputbox" name="username"/></td><td>Pass:</td><td><input type="password" tabindex="4" class="smallinputbox" name="password"/></td></tr>
        <tr><td colspan="2" class="formexplain">(5-23 alphanumeric chars, starting with a letter)</td><td class="formexplain" colspan="2"><span class="formexplain">(at least 5 characters)</span></td></tr>
        <tr><td>Full name:</td> <td><input type="text" tabindex="2" class="smallinputbox" name="fullname"/></td><td>Confirm pass:</td><td><input type="password" tabindex="5" class="smallinputbox" name="confirm"/></td></tr>        
        <tr><td>E-mail:</td><td><input type="text" tabindex="3" class="smallinputbox" name="email"/></td><td colspan="2" rowspan="4">{{ widget.captchahtml|safe }}</td></tr>
        <tr><td colspan="2" class="formexplain"><span class="formexplain">(valid, please)</span></td><td colspan="2"></td></tr>
        <tr><td>Affiliation:</td><td><select name="affiliation">
            <option value="Uniwersytet Jagielloński">Uniwersytet Jagielloński</option>
            <option value="V LO Kraków">V LO Kraków</option>
        </select></td><td colspan="2"></td></tr></tr>
        <tr><td colspan="2" style="text-align: center"><input type="submit" value="Register" class="button"/></td></tr>
    </table>

<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
<input type="hidden" name="path" value="{{widget.path}}"/>
</form> -->

<!--
<h3>Register with Google</h3>
<p>We can associate your Google Account with your Satori profile. All the necessary data will be taken from Google so that the only thing you have to do is to choose your login:</p>
<form method="post" action="process.openid_register">
    <table style="margin: auto">
        <tr><td>Login:</td><td><input type="text" class="smallinputbox" name="username"/></td></tr>
        <tr><td colspan="2" style="text-align: center"><input type="submit" value="Register with Google" class="button"/></td></tr>
      </table>

<input type="hidden" name="openid" value="https://www.google.com/accounts/o8/id"/>
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
<input type="hidden" name="path" value="{{widget.path}}"/>
</form>
-->

