{% if widget.status == "badlogin" %}
<p>Login is invalid.</p>
{% endif %}
{% if widget.status == "badpass" %}
<p>Password is invalid.</p>
{% endif %}
{% if widget.status == "nomatch" %}
<p>Passwords do not match.</p>
{% endif %}
{% if widget.status == "bademail" %}
<p>E-mail is invalid.</p>
{% endif %}
{% if widget.status == "captchafail" %}
<p>CAPTCHA answer invalid.</p>
{% endif %}
{% if widget.status == "regfail" %}
<p>Registration unsuccessful.</p>
{% endif %}

<p>Fill in the form to register to Satori. You can also use your Google Account to register (in that case go to the second section).</p>

<form method="post" action="process.register">
    <table style="margin: auto">
        <tr><td>Login:</td><td><input type="text" class="smallinputbox" name="username"/></td><td rowspan="5">{{ widget.captchahtml|safe }}</td></tr>
        <tr><td>Full name:</td><td> <input type="text" class="smallinputbox" name="fullname"/></td></tr>        
        <tr><td>E-mail:</td><td> <input type="text" class="smallinputbox" name="email"/></td></tr>        
        <tr><td>Pass:</td><td><input type="password" class="smallinputbox" name="password"/></td></tr>
        <tr><td>Confirm pass:</td><td><input type="password" class="smallinputbox" name="confirm"/></td></tr>
        <tr><td colspan="3" style="text-align: center"><input type="submit" value="Register" class="button"/></td></tr>
    </table>

<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
<input type="hidden" name="path" value="{{widget.path}}"/>
</form>

<!--
<h3>Register with Google</h3>
<p>We can associate your Google Account with your Satori profile. All the necessary data will be taken from Google so that the only thing you have to do is to choose your login:</p>
<form method="post" action="process.openid_register">
    <table style="margin: auto">
        <tr><td>Login:</td><td><input type="text" class="smallinputbox" name="username"/></td></tr>
        <tr><td colspan="2" style="text-align: center"><input type="submit" value="Register with Google" class="button"/></td></tr>
      </table>

<input type="hidden" name="openid" value="https://www.google.com/accounts/o8/id"/>
<input type="hidden" name="back_to" value="{{widget.back_to}}"/>
<input type="hidden" name="lw_path" value="{{widget.lw_path}}"/>
<input type="hidden" name="path" value="{{widget.path}}"/>
</form>
-->

