
{% if widget.user %}
<h2 class="subtitle">Registered:</h2>

<table class="contest_table">
{% for c, conuser, link in widget.participating %}
    <tr>
    <td class="linkcell"><a class="contestlink" href="{{ link }}"> {{ c.name }}</a></td>
    {% if widget.user %}
        <td class="buttoncell">
        {% if not conuser.accepted %}
            <div class="noclickbutton">Pending</div>
        {% endif %}
        </td>
    {% endif %}
    </tr>
{% endfor %}
</table>
{% endif %}

<h2 class="subtitle">Other contests:</h2>
<table class="contest_table">
{% for c, mayjoin, link in widget.other %}
    <tr>
    <td class="linkcell"><a class="contestlink" href="{{ link }}"> {{ c.name }}</a></td>
    {% if widget.user %}
        <td class="buttoncell">
        {% if mayjoin %}
        <form action="process.join" method="post">
            <input type="hidden" name="contest_id" value="{{ c.id }}"/>
            <input type="hidden" name="back_dict" value="{{ widget.params }}"/>            
            <input type="hidden" name="back_path" value="{{ widget.path }}"/>
            <input type="submit" class="applybutton" value="Join"/>
        </form>
        {% endif %}
        </td>
    {% endif %}
    </tr>
{% endfor %}
</table>

