<h2>Submit</h2>

{%if widget.noproblem %}
No problems to submit!
{%else%}
<form action="process.submit" method="post" enctype="multipart/form-data">
    <p>Please select problem:
    <select name="problem" style="margin-left: 2em">
        {% for p in widget.problems %}
            <option value="{{p.id}}">{{p.code}}: {{p.title}}</option>
        {% endfor %}
    </select>
    </p>
{% comment %}
    <textarea rows="15" style="width: 100%"></textarea>
{% endcomment %}
    <table>
        <tr><td>Select file: <input type="file" name="content" style="margin-left: 2em"/></td></tr>
        <tr><td style="text-align: left"><input type="submit" class="button" value="Submit"/></td></tr>
    </table>

    <input type="hidden" name="back_to" value="{{ widget.back_to }}"/>
    <input type="hidden" name="back_path" value="{{ widget.back_path }}"/>
</form>
{%endif%}