body{
    margin: 0;
    padding: 0;
    border: 0;
	min-width: 600px;
}

#container {
    margin-left: 2em;
    margin-right: 1em;
}

.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:1em 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
    min-height: 600px;
}
/* 3 Column settings */
.threecol {
	/*background: #606060;*/	/* right column background colour */
}
.threecol .colmid {
	right:20%;			/* width of the right column */
	/*background:#fff;	*/	/* center column background colour */
}
.threecol .colleft {
	right:65%;			/* width of the middle column */
/*	background:#f4f4f4;*/	/* left column background colour */
}
.threecol .col1 {
	width:65%;			/* width of center column content (column width minus padding on either side) */
	left:100%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:15%;			/* Width of left column content (column width minus padding on either side) */
	left:20%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:19%;			/* Width of right column content (column width minus padding on either side) */
	left:85%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

#header {
	width: 100%;
}

#header ul {
	padding: 0;
    margin: 0;
}

#header ul.headerLeftUl {
	margin-left: 1em;
}

#header ul.headerRightUl {
    margin-right: 1em;
}

#header ul.headerLeftUl li {	
    padding:3px 2em;
    left:0em;
}

#header ul.headerRightUl li {
	padding:3px 1em;
	right:0em;
}

#content {
    margin: 1em;
}

.logos {
    width:100%;
    margin: 0 1em 1em 1em;
}

.logos table {
    width: 100%;
}

.logos td {
    width: 33%;
}

.tcslogo {
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

