body {
    font-family: Arial;
	background: #FFFFFF;
    color: #444444;
}

.col1,
.col2,
.col3 {
}

.col2 {
    border-right: 1px dotted #DDDDDD;
}

#footer{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   border-top: 1px dotted #DDDDDD;
}

.toLeft {
    float: left;
}

.toRight {
    float: right;
}

/* Footer styles */

.margL {
    margin-left: 1em;
    margin-right: 1em;
}

.tableWidget {
    width: 100%;
    text-align: center;
    color: #000000;
}
/*                                  HEADER */
#header {
	clear: both;
	float: left;
    font-family: "Arial", Sans-Serif;
    background-image: url("gradient.png");
    background-repeat: repeat-x;
    background-color: #000000;
    background-position: left;
}

#header ul {
	list-style: none;
}

#header ul.headerLeftUl {
	float: left;
	font-size: 100%;
}

#header ul.headerRightUl {
	float: right;
	font-size: 90%;
}

#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}

#header ul li {
	display:block;
	margin:0 0 0 0px;
	position:relative;
	float: left;
	line-height:1.3em;
    text-align:center;
	color: #CCCCCC;
}

#header ul li a, a:visited, a:active {
    text-align:center;
	text-decoration:none;
	color: #CCCCCC;
	font-size: 95%;
}


#logo{
	border: 0;
	margin: 1em 0 0 0;
	width: 150px;
}

#navigationPanel {
	margin-top: 0;
	padding: 0;	
	text-transform: uppercase;
	letter-spacing: 1px;

	top: 0px;
}

#navigationPanel ul{
	list-style-type: none;
	padding: 0;
	margin-top: 1em;
	top: 0px;
}

#navigationPanel li {
	padding: 1em 0 0em 0em;
}

#navigationPanel a, a:visited, a:active{
	color: #444444;
	display: block;
	text-decoration: none;
	font-family: Arial, Sans-Serif;
    font-size: 90%;
}

.logos {
    text-align: center;
}

.logos td {
    text-align: center;
}

.newsmsg {
    padding-bottom: 1em;
    margin-top: 1em;
    font-size: 90%;
}

.bDots {
    border-bottom: 1px dotted #DDDDDD;
}
.rDots {
    border-right: 1px dotted #DDDDDD;
}
.tDots {
    border-top: 1px dotted #DDDDDD;
}
.lDots { 
    border-left: 1px dotted #DDDDDD;
}
